{% extends 'Backend/layout.html.twig' %}
{#----------------------------BLOC-Title----------------------------#}
{% block head %} <title> Créer un article </title> {% endblock %}
{#----------------------------END-BLOC-Title----------------------------#}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-12 mt-3">
        {#----------------------------Succes-Submit---------------------------#}
            {% if data.verif.succesArticle %}
            {% for succes in data.verif %}
            <div class="alert alert-primary" role="alert">
                {{succes}}
            </div>
            {% endfor %}
        {#----------------------------END-Succes-Submit---------------------------#}
        {#----------------------------Errors-Submit---------------------------#}
            {% else %}
            {% for error in data.verif %}
            <div class="alert alert-danger" role="alert">
                {{error}}
            </div>
            {% endfor %}
            {% endif %}
        {#----------------------------END-Errors-Submit---------------------------#}
        {#----------------------------Card----------------------------#}
            <div class="card mx-xl-5">
                {#----------------------------Card-Body----------------------------#}
                <div class="card-body">
                    <form method="POST"
                        action="/?p=form{% if data.dataForm.id == null %}&action=newArticle{% elseif data.dataForm.id %}&action=articleModif&id={{data.dataForm.id}}{% endif %}" enctype="multipart/form-data">
                        {#----------------------------Title-Article----------------------------#}
                        <label for="titleFormCardName">Titre de l'article
                        </label>
                        <input type="text" id="titleFormCardName" name="title"
                            class="form-control" value="{{data.dataForm.title}}">
                        <br>
                        {#----------------------------Legende-Article----------------------------#}
                        <label for="legendeFormCardName">Legende de l'article
                        </label>
                        <input type="text" id="legendeFormCardName" name="legende"
                            class="form-control" value="{{data.dataForm.legende}}">
                        <br>
                        {#----------------------------Description-Article----------------------------#}
                        <div class="form-group">
                            <label for="mytextarea">Corps de l'article </label>
                            <textarea class="form-control" id="textarea"
                                rows="7" name="description">{{data.dataForm.description}}</textarea>
                        </div>
                        <br>
                        {#----------------------------Image-Article----------------------------#}
                        {% if data.dataForm.id %}<label class="text-grey"
                        for="inputGroupFile">Attention : Veuillez mettre une image pour une mise à jour !</label>
                        {% endif %}
                        <div class="input-group">
                            <div class="custom-file">
                                <input type="file" class="custom-file-input"
                                    id="inputGroupFile" name="imageArticle"
                                    aria-describedby="inputGroupFileAddon">
                                <label class="custom-file-label"
                                    for="inputGroupFile">Choisir une image</label>
                            </div>
                        </div>
                        <br>
                        {#----------------------------Date-Article----------------------------#}
                        {% if data.dataForm.id %}<label class="text-grey"
                        for="start">Attention : Veuillez mettre une date pour une mise à jour !</label>
                        <br>
                        {% endif %}
                        <label for="start" class="text-center mt-3 md-0 p-0">Date:</label>
                        <div class="md-form m-0">
                            <input type="date" id="start" name="date"
                                min="2020-01-01"
                                max="2099-12-01" value="{{data.dataForm.date}}"> {# A demander pourquoi la date ne peut etre visible que lors de la retenu sur un novel article et pas lors de la modification#}
                        </div>
                        <br>
                        {#----------------------------Option-Article---------------------------#}
                        <label class="text-center mt-3">Options:</label>
                        <div class="form-row">
                            <div class="col-6">
                                {#----------------------------Option-Public---------------------------#}
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox"
                                        class="custom-control-input"
                                        id="defaultUnchecked"
                                        name="posted" {% if data.dataForm.posted == 1 %}checked{% endif %}>
                                    <label class="custom-control-label"
                                        for="defaultUnchecked">Public</label>
                                </div>
                            </div>
                            <div class="col-6">
                        {#----------------------------Option-LastArticle---------------------------#}
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox"
                                        class="custom-control-input"
                                        name="lastArticle"
                                        id="defaultUnchecked1" {% if data.dataForm.lastArticle == 1 %}checked{% endif %}>
                                    <label class="custom-control-label"
                                        for="defaultUnchecked1" >Article de la
                                        semaine</label>
                                </div>
                            </div>
                        </div>
                        <br>
                        {#----------------------------Submit-Article---------------------------#}
                        <div class="text-center py-4 mt-3">
                            <input class="btn btn-dark" name="submit"
                                type="submit" value="{% if data.dataForm.id %}Mettre à jour{% else %}Envoyer{% endif %}"><i
                                    class="fa fa-paper-plane-o ml-2"></i></input>
                        </div>
                    </form>
                </div>
                {#----------------------------End-Card-Body---------------------------#}
            </div>
            {#----------------------------End-Card---------------------------#}
        </div>
    </div>
</div>
{% endblock %}