{% extends 'Backend/layout.html.twig' %}
{#----------------------------BLOC-Title----------------------------#}
{% block head %} <title> Page graphique </title> {% endblock %}
{#----------------------------END-BLOC-Title----------------------------#}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-12 mt-3">
            <br>
            {#----------------------------Succes-Submit---------------------------#}
{% if data.graph.successGraph %}
   {% for succes in data.graph %}
   <div class="alert alert-primary" role="alert">
       {{succes}}
   </div>
   {% endfor %}
{#----------------------------END-Succes-Submit---------------------------#}
{#----------------------------Errors-Submit---------------------------#}
{% else %}
   {% for error in data.graph %}
   <div class="alert alert-danger" role="alert">
       {{error}}
   </div>
   {% endfor %}
{% endif %}
{#----------------------------END-Errors-Submit---------------------------#}
<br>
            {#----------------------------Card----------------------------#}
            <div class="card mx-xl-5">
                {#----------------------------Card-Body----------------------------#}
                <div class="card-body">
                    <form action="http://projet5.marcalban.fr/?p=graph&action=update&id={{data.dataWithId.id }}"
                        method="POST" enctype="multipart/form-data">
                        {#----------------------------Selection-Catégorie-graph----------------------------#}
                        <label for="Categorie" class="grey-text
                            font-weight-light">Catégorie</label>
                        <div class="input-group">
                            <select class="browser-default custom-select"
                                name="selectGraph" id="Categorie" >
                                {% if data.dataWithId.title == 'Prudent' %}
                                <option value="{{data.dataWithId.title }}" selected>{{data.dataWithId.title }}</option>
                                <option value="Equilibré">Equilibré</option>
                                <option value="Dynamique">Dynamique</option>
                                <option value="Autre">Autre</option>
                                {% endif %}
                            {#----------------------------Selection-Catégorie-graph----------------------------#}
                            {% if data.dataWithId.title == 'Equilibré' %}
                            <option value="{{data.dataWithId.title }}" selected>{{data.dataWithId.title }}</option>
                            <option value="Prudent">Prudent</option>
                            <option value="Dynamique">Dynamique</option>
                            <option value="Autre">Autre</option>
                            {% endif %}
                        {#----------------------------Selection-Catégorie-graph----------------------------#}
                                {% if data.dataWithId.title == 'Dynamique' %}
                                <option value="{{data.dataWithId.title }}" selected>{{data.dataWithId.title }}</option>
                                <option value="Prudent">Prudent</option>
                                <option value="Equilibré">Equilibré</option>
                                <option value="Autre">Autre</option>
                                {% endif %}
                        {#----------------------------Selection-Catégorie-graph----------------------------#}
                                {% if data.dataWithId.title == 'Autre' %}
                                <option value="{{data.dataWithId.title }}" selected>{{data.dataWithId.title }}</option>
                                <option value="Prudent">Prudent</option>
                                <option value="Equilibré">Equilibré</option>
                                <option value="Dynamique">Dynamique</option>
                                {% endif %}
                            </select>
                        </div>
                        <br>
                        {#----------------------------File-Image-Graph----------------------------#}
                        <label for="inputGroupFile" class="grey-text
                        font-weight-light">Attention : Mettre une image pour ma la mise à jour !</label>
                        <div class="input-group">
                            <div class="custom-file">
                                <input type="file" name="imageGraph"
                                    class="custom-file-input"
                                    id="inputGroupFile"
                                    aria-describedby="inputGroupFileAddon"
                                    value="{{ data.dataWithId.image }}"
                                    >
                                <label class="custom-file-label"
                                    for="inputGroupFile">{{ data.dataWithId.image }}</label>
                            </div>
                        </div>
                        <br>
                        {#----------------------------Legende-Graph----------------------------#}
                        <label for="defaultFormCardDesc" class="grey-text
                            font-weight-light">Legende</label>
                        <input type="text" name="legende" id="defaultFormCardDesc"
                            class="form-control" value="{{ data.dataWithId.descriptionExtrait }}">
                        <br>
                        {#----------------------------Submit----------------------------#}
                        <div class="text-center py-4 mt-3">
                            <input class="btn btn-dark" type="submit" name="submit" value="Mettre à jour"><i
                                    class="fa fa-paper-plane-o ml-2"></i></input>
                        </div>
                    </form>
                </div>
                {#----------------------------END-CARD-BODY----------------------------#}
            </div>
            {#----------------------------END-CARD----------------------------#}
        </div>
    </div>
</div>
{% endblock %}