{% extends 'Backend/layout.html.twig' %}
{#---------------------------BLOC-Title-----------------------------#}
{% block head %} <title> Gestion de compte </title> {% endblock %}
{#---------------------------END-BLOC-TITLE-----------------------------#}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-12 mt-3">
                    {#----------------------------Succes-Submit---------------------------#}
                    {% if data.userData.update %}
                    {% for succes in data.userData %}
                    <div class="alert alert-primary" role="alert">
                        {{succes}}
                    </div>
                    {% endfor %}
                {#----------------------------END-Succes-Submit---------------------------#}
                {#----------------------------Errors-Submit---------------------------#}
                    {% else %}
                    {% for error in data.userData %}
                    <div class="alert alert-danger" role="alert">
                        {{error}}
                    </div>
                    {% endfor %}
                    {% endif %}
                {#----------------------------END-Errors-Submit---------------------------#}
            {#---------------------------Card-----------------------------#}
            <div class="card mx-xl-5">
                {#---------------------------Card-Body-----------------------------#}
                <div class="card-body">
                    <form action="/?p=user&action=save" method="POST">
                        <p class="h4 text-center py-4">Gestion de compte</p>
                        <div class="form-row">
                            <div class="col-6">
                                {#---------------------------Input-Name-----------------------------#}
                                <label for="defaultFormCardName"
                                    class="black-text
                                    font-weight-light">Nom</label>
                                <input type="text" name="name"
                                    id="defaultFormCardName"
                                    class="form-control" value="{% if data.dataFormUser %}{{data.dataFormUser.name}}{% else %}{{data.dataBddUser.name}}{% endif %}">
                            </div>
                            <div class="col-6">
                                {#---------------------------Input-Last_Name-----------------------------#}
                                <label for="defaultFormCardLastName"
                                    class="black-text
                                    font-weight-light">Prénoms</label>
                                <input type="text" name="lastName"
                                    id="defaultFormCardLastName"
                                    class="form-control" value="{% if data.dataFormUser %}{{data.dataFormUser.lastName}}{% else %}{{data.dataBddUser.lastName}}{% endif %}">
                            </div>
                        </div>
                        <br>
                        <div class="form-row">
                            <div class="col-6">
                                {#---------------------------Input-Email-----------------------------#}
                                <label for="defaultFormCardEmail"
                                    class="black-text
                                    font-weight-light">E-mail</label>
                                <input type="email" name="mail"
                                    id="defaultFormCardEmail"
                                    class="form-control" value="{% if data.dataFormUser %}{{data.dataFormUser.mail}}{% else %}{{data.dataBddUser.mail}}{% endif %}">
                            </div>
                            <div class="col-6">
                                {#---------------------------Input-Confirm-Email-----------------------------#}
                                <label for="defaultFormCardEmailConf"
                                    class="black-text
                                    font-weight-light">Confirmation de l'e-mail</label>
                                <input type="email" name="mailConf"
                                    id="defaultFormCardEmailConf"
                                    class="form-control" value="{{data.dataBddUser.mailConf}}">
                            </div>
                        </div>
                        {#----------------------------MODAL-HIDDEN----------------------------#}
                        <div class="md-form">
                            <input type="hidden"
                                name="token" id="token"
                                value="{{session.token}}" />
                        </div
                        {#---------------------------Submit-----------------------------#}
                        <div class="text-center py-4 mt-3">
                            <input type="submit" class="btn btn-dark" name="submit" value="Enregistrer">
                            </input>
                        </div>
                    </form>
                </div>
                {#---------------------------END-CARD-BODY-----------------------------#}
            </div>
            {#---------------------------END-CARD-----------------------------#}
            <br>
            <p> Pour changer le mot de passe ici: <a href="/?p=password">Cliquer ici</a></p>
        </div>
    </div>
</div>
{% endblock %}