{% extends 'Backend/layout.html.twig' %}
{#----------------------------BLOC-Title----------------------------#}
{% block head %} <title> Page - Update</title> {% endblock %}
{#----------------------------END-BLOC-Title----------------------------#}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-12 mt-3">
            <br>
{#--------------------------CONDITION-DATA----------------------------#}
{% if data.updatePage.successPage %}
{#--------------------------SUCCES-MESSAGE----------------------------#}
{% for success in data.updatePage %}
<div class="alert alert-primary" role="alert">
    {{success}}
</div>
{% endfor %}
{#-------------------------END-SUCCES-MESSAGE----------------------------#}
{% else %}
{#--------------------------ERROR-MESSAGE----------------------------#}
{% for errors in data.updatePage %}
<div class="alert alert-danger" role="alert">
    {{errors}}
</div>
{% endfor %}
{#--------------------------ERROR-MESSAGE----------------------------#}
{% endif %}
{#--------------------------END-CONDITION-DATA----------------------------#}
            <br>
            {#----------------------------Card----------------------------#}
            <div class="card mx-xl-5">
                {#----------------------------Card-Body----------------------------#}
                <div class="card-body">
                    <form action="index.php?p=page&title=UpdatePage&id={% for pages in data.page %}{{pages.id}}{% endfor %}&action=update" method="POST"
                        enctype="multipart/form-data">
                        <br>
                        {#----------------------------File-Image-page----------------------------#}
                        {% if data.page %}<label class="grey-text"
                        for="File">Attention : Veuillez mettre une date pour une mise à jour !</label>
                        <br>
                        {% endif %}
                        <div class="input-group">
                            <div class="custom-file">
                                <input type="file" name="imagePage" class="custom-file-input" id="File"
                                    aria-describedby="inputGroupFileAddon"
                                    value="{% for pages in data.page %}{{pages.image}}{% endfor %}">
                                <label class="custom-file-label" for="File">Choisir l'image principale de la
                                    page</label>
                            </div>
                        </div>
                        <br>
                        {#----------------------------Name-Page----------------------------#}
                        <label for="titlePage" class="grey-text
                            font-weight-light">Nom de la page</label>
                        <input type="text" name="namePage" id="titlePage" class="form-control"
                            value="{% for pages in data.page %}{{pages.titlePage}}{% endfor %}">
                        <br>
                        {#----------------------------Titre-Page----------------------------#}
                        <label for="Title" class="grey-text
                        font-weight-light">Titre de la page</label>
                        <input type="text" name="titlePage" id="Title" class="form-control"
                            value="{% for pages in data.page %}{{pages.title}}{% endfor %}">
                        <br>
                        {#----------------------------Description-Page----------------------------#}
                        <label for="mytextarea" class="grey-text
                        font-weight-light">Corps de la page </label>
                        <textarea class="form-control"  rows="7"
                            name="bodyPage">{% for pages in data.page %}{{pages.description}}{% endfor %}</textarea>
                        <br>
                        {#----------------------------Submit----------------------------#}
                        <div class="text-center py-4 mt-3">
                            <input class="btn btn-dark" type="submit" name="update" value="Mettre à jour"><i
                                class="fa fa-paper-plane-o ml-2"></i></input>
                        </div>
                    </form>
                </div>
                {#----------------------------END-CARD-BODY----------------------------#}
            </div>
            {#----------------------------END-CARD----------------------------#}
        </div>
    </div>
</div>
{% endblock %}