{% extends 'Frontend/layout.html.twig' %}
{#---------------------------BLOC-TITLE-----------------------------#}
{% block head %}
<title>
    {% for post in data %}
    {{ post.title}}
    {% endfor %}
</title>
{% endblock %}
{#---------------------------BLOC-TITLE-----------------------------#}
{#---------------------------BLOC-TITLE-PAGE----------------------------#}
{% block title %}
<div class="d-flex flex-row">
    <div class="w-100">
        {% for post in data %}
        {{post.titleArticle}}
        {% endfor %}
    </div>
    <div class="flex-shrink-1 col-md-4">
        <a href="http://3bigbangbourse.fr/?p=listesArticles">
            <button type="button" class="btn btn-danger">
                Retour blog
            </button>
        </a>
    </div>
</div>
{% endblock %}
{#--------------------------END-BLOC-TITLE-PAGE----------------------------#}
{% block content %}
{#--------------------------GRILLE-COLONNE----------------------------#}
<div class="col-md-12">
    {#--------------------------CARD----------------------------#}
    <div class="card hoverable pb-5 mx-md-3">
        {#--------------------------IMAGE----------------------------#}
        <img class="jarallax-img" src="img/article/{% for post in data %}{{
            post.image }}{% endfor %}" alt="">
        {#--------------------------END-IMAGE----------------------------#}
        <div class="card-body">
            <div class="container">
                {#--------------------------SECTION-HEADING----------------------------#}
                <h1 class="text-left h1 pt-4 mb-3">
                    <strong>
                        {% for post in data %}
                        {{ post.title }}
                        {% endfor %}
                    </strong>
                </h1>
                {#-------------------------END-SECTION-HEADING----------------------------#}
                <div class="row">
                    <div class="col-md-12 col-xl-12 d-flex
                        justify-content-left">
                        <p class="font-small grey-text mb-0">
                            <i class="far fa-clock-o dark-grey-text"></i>
                            {% for post in data %}
                            {{ post.legende }}
                            {% endfor %}
                        </p>
                        <p class="font-small grey-text mb-0">
                            <i class="far fa-clock-o dark-grey-text"></i>
                            {% for post in data %}
                            {{ post.date }}
                            {% endfor %}
                        </p>
                    </div>
                </div>
                {#--------------------------GRILLE-COLONNE----------------------------#}
                <div class="row mt-3">
                    <p class="dark-grey-text article">
                        {% for post in data %}
                        {{ post.description | raw }}
                        {% endfor %}
                    </p>
                </div>
            </div>
            {#--------------------------END-GRILLE-COLONNE----------------------------#}
        </div>
    </div>
    {#--------------------------END-CARD----------------------------#}
</div>
{#--------------------------END-GRILLE-COLONNE----------------------------#}
{% endblock %}