{% extends 'Frontend/layout.html.twig' %}
{#---------------------------BLOC-TITLE-----------------------------#}
{% block head %} <title>Blog</title> {% endblock %}
{#---------------------------BLOC-TITLE-----------------------------#}
{#---------------------------BLOC-TITLE-PAGE----------------------------#}
{% block title %}Blog{% endblock %}
{#---------------------------BLOC-TITLE-PAGE----------------------------#}
{% block content %}
{#---------------------------SECTION------------------------------#}
{% if data.paginationListeArticle %}
<section class="text-center my-5">
    {#---------------------------LASTE-ARTICLE-----------------------------#}
    <div class="mb-5 articleSemaine col-lg-12 col-md-8 col-sm-12">
        {#---------------------------CARD-----------------------------#}
        <a href="?p=article&id={{ data.lastArticle.id }}">
            <div class="card">
                {#---------------------------CARD-IMAGE-----------------------------#}
                <div class="view overlay">
                    <img class="card-img-top" src="img/article/{{
                        data.lastArticle.image
                        }}" alt="Card image cap">
                    <div class="mask rgba-white-slight"></div>
                </div>
                {#---------------------------CARD-IMAGE-----------------------------#}
                {#---------------------------CARD-CONTENT-----------------------------#}
                <div class="card-body">
                    {#---------------------------CARD-DESCRIPTION-----------------------------#}
                    <p class="card-text font-weight-bold text-justify">{{
                        data.lastArticle.description|raw|striptags|convert_encoding('UTF-8',
                        'iso-2022-jp')|u.truncate(200, '...')}}</p>
                    {#--------------------------END-CARD-DESCRIPTION-----------------------------#}
                    {#---------------------------CARD-TITLE-----------------------------#}
                    <h4 class="card-subtitle text-left">{{
                        data.lastArticle.title }}</h4>
                    {#--------------------------END-CARD-TITLE-----------------------------#}
                    {#---------------------------CARD-DATE-----------------------------#}
                    <p class="text-left">{{ data.lastArticle.date|date('d/m/Y')
                        }}</p>
                    {#--------------------------END-CARD-DATE-----------------------------#}
                </div>
            </div>
        </a>
        {#--------------------------END-CARD-----------------------------#}
    </div>
    {#--------------------------END-LASTARTICLE-----------------------------#}
    {#--------------------------ARTICLE-----------------------------#}
    <div class="row">
        {#---------------------------GRILLE-COLONNE-----------------------------#}
        {% for paginationListeArticle in
        data.paginationListeArticle.articles %}
        <div class="col-lg-6 col-md-8 col-sm-12 mb-4">
            {#---------------------------CARD-----------------------------#}
            <div class="card">
                {#---------------------------CARD-IMAGE-----------------------------#}
                <div class="view overlay">
                    <img class="card-img-top" src="img/article/{{
                        paginationListeArticle.image }}"
                        alt="">
                    <a href="?p=article&id={{
                        paginationListeArticle.id }}">
                        <div class="mask rgba-white-slight"></div>
                    </a>
                </div>
                {#---------------------------CARD-CONTENT-----------------------------#}
                <div class="card-body">
                    {#---------------------------CARD-DESCRIPTION-----------------------------#}
                    <p class="card-text font-weight-bold text-justify">
                        {{paginationListeArticle.description|raw|striptags|convert_encoding('UTF-8',
                        'iso-2022-jp')|u.truncate(200, '...')}}
                    </p>
                    {#---------------------------CARD-TITLE-----------------------------#}
                    <h4 class="card-subtitle text-left">
                        {{paginationListeArticle.title }}
                    </h4>
                    {#---------------------------CARD-DATE-----------------------------#}
                    <p class="text-left">
                        {{paginationListeArticle.date|date('d/m/Y')}}
                    </p>
                </div>
            </div>
            {#--------------------------END-CARD-----------------------------#}
        </div>
        {% endfor %}
        {#--------------------------END-GRILLE-COLONNE-----------------------------#}
    </div>
    {#-------------------------END-GRILLE-ROW-----------------------------#}
    {#--------------------------PAGINATION-----------------------------#}
    <nav aria-label="Page navigation mr-auto">
        <ul class="pagination pg-blue">
            <li class="page-item
                {% if data.paginationListeArticle.current == 1 or
                data.paginationListeArticle.current <1 %}
                disabled
                {% endif %}">
                <a class="page-link" aria-label="Previous" href="{% if
                    data.paginationListeArticle.current != 1 %}
                    ?p=listesArticles&pp={{data.paginationListeArticle.current -
                    1 }}
                    {% else %}
                    ?p=listesArticles&pp={{data.paginationListeArticle.current
                    }}
                    {% endif %}">
                    <span aria-hidden="true">&laquo;</span>
                    <span class="sr-only">Previous</span>
                </a>
            </li>
            {% for i in 1..data.paginationListeArticle.nbPage %}
            {% if i == data.paginationListeArticle.current %}
            <li class="page-item active"><a class="page-link"
                    href="?p=listesArticles&pp={{ i }}">{{ i }}</a></li>
            {% else %}
            <li class="page-item
                {% if data.paginationListeArticle.current <1 %}
                disabled
                {% endif %}"><a class="page-link"
                    href="?p=listesArticles&pp={{ i }}">{{ i }}</a></li>
            {% endif %}
            {% endfor %}

            <li class="page-item
                {% if data.paginationListeArticle.current ==
                data.paginationListeArticle.nbPage %}
                disabled
                {% endif %}">
                <a class="page-link" aria-label="Next" href="{% if
                    data.paginationListeArticle.current !=
                    data.paginationListeArticle.nbPage %}
                    ?p=listesArticles&pp={{data.paginationListeArticle.current +
                    1 }}
                    {% else %}
                    ?p=listesArticles&pp={{data.paginationListeArticle.current
                    }}
                    {% endif %}">
                    <span aria-hidden="true">&raquo;</span>
                    <span class="sr-only">Next</span>
                </a>
            </li>
        </ul>
    </nav>
    {#-------------------------END-PAGINATION-----------------------------#}
    {% else %}
    {#--------------------------GRILLE-ROW-----------------------------#}
    <div class="row">
        {#--------------------------GRILLE-COLONNE-----------------------------#}
        {% for classementYear in data.classement %}
        <div class="col-lg-6 col-md-8 col-sm-12 mb-4">
            {#---------------------------CARD------------------------------#}
            <div class="card">
                {#---------------------------CARD-IMAGE-----------------------------#}
                <div class="view overlay">
                    <img class="card-img-top" src="img/article/{{
                        classementYear.image
                        }}" alt="Card image cap">
                    <a href="?p=article&id={{ classementYear.id }}">
                        <div class="mask rgba-white-slight"></div>
                    </a>
                </div>
                {#---------------------------CARD-CONTENT-----------------------------#}
                <div class="card-body">
                    {#---------------------------CARD-DESCRIPTION-----------------------------#}
                    <p class="card-text font-weight-bold text-justify">{{
                        classementYear.description|raw|striptags|convert_encoding('UTF-8',
                        'iso-2022-jp')|u.truncate(200, '...') }}</p>
                    {#---------------------------CARD-TITLE-----------------------------#}
                    <h4 class="card-subtitle text-left">{{
                        classementYear.title }}</h4>
                    {#---------------------------CARD-DATE-----------------------------#}
                    <p class="text-left">{{ classementYear.date|date('d/m/Y') }}</p>
                </div>
            </div>
            {#--------------------------END-CARD------------------------------#}
        </div>
        {#--------------------------END-GRILLE-COLONNE-----------------------------#}
        {% endfor %}
    </div>
    {#-------------------------END-GRILLE-ROW-----------------------------#}
</section>
{#---------------------------END-ARTICLE-----------------------------#}
{% endif %}
{#---------------------------END-SECTION-----------------------------#}
{% endblock %}
{#--------------------------CLASSIFICATION-YEAR-----------------------------#}
{% block archive %}
<section class="mb-5">
    <h4 class="font-weight-bold aside"><strong>Archive</strong></h4>
    <ul class="list-group z-depth-1">
        <li class="list-group-item d-flex justify-content-between
            align-items-center">
            <a href="?p=listesArticles&years=2019">
                <font style="vertical-align: inherit;">
                    <font style="vertical-align: inherit;">2019 </font>
                </font>
            </a>
        </li>
        <li class="list-group-item d-flex justify-content-between
            align-items-center">
            <a href="?p=listesArticles&years=2020">
                <font style="vertical-align: inherit;">
                    <font style="vertical-align: inherit;">2020 </font>
                </font>
            </a>
        </li>
    </ul>
</section>
{% endblock %}
{#-------------------------END-CLASSIFICATION-YEAR-----------------------------#}