{% extends 'Frontend/layout.html.twig' %}
{% block head %} <title>Blog</title> {% endblock %}
{% block title %}Blog{% endblock %}
{% block content %}

<!-- Section: Blog v.2 -->
<section class="text-center my-5">
    <!-- Section  -->
    <!-- Liste article -->
    {% if data.listeArticle %}
    <!-- Article last -->
    <div class="mb-5 articleSemaine col-lg-12 col-md-8 col-sm-12">
        <!-- Card -->
        <div class="card">
            <!-- Card image -->
            <div class="view overlay">
                <img class="card-img-top" src="img/article/{{
                    data.lastArticle.image
                    }}" alt="Card image cap">
                <a href="?p=article&id={{ data.lastArticle.id }}">
                    <div class="mask rgba-white-slight"></div>
                </a>
            </div>
            <!-- Card content -->
            <div class="card-body">
                <!-- Text -->
                <p class="card-text font-weight-bold text-justify">{{
                    data.lastArticle.description }}</p>
                <!-- Title -->
                <h4 class="card-subtitle text-left">{{
                    data.lastArticle.title }}</h4>
                <!-- Post data -->
                <p class="text-left">{{ data.lastArticle.date|date('d/m/Y') }}</p>
            </div>
        </div>
        <!-- Card -->
    </div>
    <!-- lastArticle -->
    <!-- Grid row -->
    <div class="row">
        <!-- Grid column -->
        {% for listeArticle in data.listeArticle.articles %}
        <div class="col-lg-6 col-md-8 col-sm-12 mb-4">
            <!-- Card -->
            <div class="card">
                <!-- Card image -->
                <div class="view overlay">
                    <img class="card-img-top" src="img/article/{{
                        listeArticle.image
                        }}" alt="Card image cap">
                    <a href="?p=article&id={{ listeArticle.id }}">
                        <div class="mask rgba-white-slight"></div>
                    </a>
                </div>
                <!-- Card content -->
                <div class="card-body">
                    <!-- Text -->
                    <p class="card-text font-weight-bold text-justify">{{
                        listeArticle.description }}</p>
                    <!-- Title -->
                    <h4 class="card-subtitle text-left">{{
                        listeArticle.title }}</h4>
                    <!-- Post data -->
                    <p class="text-left">{{ listeArticle.date|date('d/m/Y') }}</p>
                </div>
            </div>
            <!-- Card -->

        </div>
        <!-- Grid column -->
        {% endfor %}
    </div>
    <!-- Grid row -->
    <!-- Pagination -->
    <nav aria-label="Page navigation mr-auto">
        <ul class="pagination pg-blue">
            <li class="page-item
                {% if data.listeArticle.current == 1 %}
                disabled
                {% endif %}">
                <a class="page-link" aria-label="Previous" href="{% if
                    data.listeArticle.current != 1 %}
                    ?p=listesArticles&pp={{data.listeArticle.current - 1 }}
                    {% else %}
                    ?p=listesArticles&pp={{data.listeArticle.current }}
                    {% endif %}">
                    <span aria-hidden="true">&laquo;</span>
                    <span class="sr-only">Previous</span>
                </a>
            </li>
            {% for i in 1..data.listeArticle.nbPage %}
            {% if i == data.listeArticle.current %}
            <li class="page-item active"><a class="page-link"
                    href="?p=listesArticles&pp={{ i }}">{{ i }}</a></li>
            {% else %}
            <li class="page-item"><a class="page-link"
                    href="?p=listesArticles&pp={{ i }}">{{ i }}</a></li>
            {% endif %}
            {% endfor %}

            <li class="page-item
                {% if data.listeArticle.current == data.listeArticle.nbPage %}
                disabled
                {% endif %}">
                <a class="page-link" aria-label="Next" href="{% if
                    data.listeArticle.current != data.listeArticle.nbPage %}
                    ?p=listesArticles&pp={{data.listeArticle.current + 1 }}
                    {% else %}
                    ?p=listesArticles&pp={{data.listeArticle.current }}
                    {% endif %}">
                    <span aria-hidden="true">&raquo;</span>
                    <span class="sr-only">Next</span>
                </a>
            </li>
        </ul>
    </nav>
    <!-- EndPagination -->
    {% else %}

    <!-- Grid row -->
    <div class="row">
        <!-- Grid column -->
        {% for classementYear in data.classement %}
        <div class="col-lg-6 col-md-8 col-sm-12 mb-4">
            <!-- Card -->
            <div class="card">
                <!-- Card image -->
                <div class="view overlay">
                    <img class="card-img-top" src="img/article/{{
                        classementYear.image
                        }}" alt="Card image cap">
                    <a href="?p=article&id={{ classementYear.id }}">
                        <div class="mask rgba-white-slight"></div>
                    </a>
                </div>
                <!-- Card content -->
                <div class="card-body">
                    <!-- Text -->
                    <p class="card-text font-weight-bold text-justify">{{
                        classementYear.description }}</p>
                    <!-- Title -->
                    <h4 class="card-subtitle text-left">{{
                        classementYear.title }}</h4>
                    <!-- Post data -->
                    <p class="text-left">{{ classementYear.date|date('d/m/Y') }}</p>
                </div>
            </div>
            <!-- Card -->

        </div>
        <!-- Grid column -->
        {% endfor %}
    </div>
    <!-- Grid row -->
    {% endif %}
    <!-- End liste Article -->
</section>
<!-- Section: Blog v.2 -->
{% endblock %}

{% block archive %}
<section class="mb-5">
    <h4 class="font-weight-bold aside"><strong>Archive</strong></h4>
    <ul class="list-group z-depth-1">
        <li class="list-group-item d-flex justify-content-between
            align-items-center">
            <a href="?p=listesArticles&years=2019">
                <font style="vertical-align: inherit;">
                    <font style="vertical-align: inherit;">2019 </font>
                </font>
            </a>
        </li>
        <li class="list-group-item d-flex justify-content-between
            align-items-center">
            <a href="?p=listesArticles&years=2020">
                <font style="vertical-align: inherit;">
                    <font style="vertical-align: inherit;">2020 </font>
                </font>
            </a>
        </li>
    </ul>
</section>
{% endblock %}