{% extends 'Frontend/layout.html.twig' %}
{% block head %}
<title>Contactez-nous</title>
{% endblock %}
{% block title %}Contactez-nous{% endblock %}
{% block content %}

{% if data.listeMessage.send %}
{% for success in data.listeMessage %}
<!-- Success strat -->
<div class="alert alert-primary" role="alert">
    {{success}}
</div>
{% endfor %}
<!-- Success end -->
{% endif %}

{% if data.listeMessage.tab %}
{% for errors in data.listeMessage.tab %}
<!-- Erreur strat -->
<div class="alert alert-danger" role="alert">
    {{errors}}
</div>
<!-- Erreur end -->
{% endfor %}
{% endif %}
<!-- Material form contact -->
<div class="card">
    <!--Card content-->
    <div class="card-body px-lg-5 pt-0">

        <!-- Form -->
        <form class="text-center" style="color: #757575;" action="?p=contact"
            method="POST">

            <div class="form-row">
                <div class="col">
                    <!-- Name -->
                    <div class="md-form">
                        <input type="text" name="nameLastname"
                            id="materialContactFormName" class="form-control"
                            value="{{data.donnee.namelastname}}">
                        <label for="materialContactFormName">Nom et prénom
                            (requis)</label>
                    </div>
                </div>
                <div class="col">
                    <!-- E-mail -->
                    <div class="md-form">
                        <input type="email" name="mail"
                            id="materialContactFormEmail" class="form-control"
                            value="{{data.donnee.mail}}">
                        <label for="materialContactFormEmail">E-mail (requis)</label>
                    </div>
                </div>
            </div>

            <div class="form-row">
                <div class="col">
                    <!-- Phone number -->
                    <div class="md-form">
                        <input type="tel" name="telephone"
                            id="materialRegisterFormPhone" class="form-control"
                            aria-describedby="materialRegisterFormPhoneHelpBlock"
                            value="{{data.donnee.tel}}">
                        <label for="materialRegisterFormPhone">Téléphone
                            (requis)</label>
                    </div>
                </div>
                <div class="col">
                    <!-- CP -->
                    <div class="md-form">
                        <input type="text" name="codepostal"
                            id="materialContactCP" class="form-control"
                            value="{{data.donnee.cp}}">
                        <label for="materialContactFormCP">Code postal (requis)</label>
                    </div>
                </div>
            </div>

            <!-- Option  -->
            <div class="md-form">
                <select class="browser-default custom-select mb-4" name="liste"
                    id="select">
                    <option value="Je suis déjà client(e)" selected>
                        <font style="vertical-align: inherit;">
                            <font style="vertical-align: inherit;">Je suis déjà
                                client(e)</font>
                        </font>
                    </option>
                    <option value="Je ne suis pas client(e) et souhaite un
                        rendez-vous">
                        <font style="vertical-align: inherit;">
                            <font style="vertical-align: inherit;">Je ne suis
                                pas client(e) et souhaite un rendez-vous
                            </font>
                        </font>
                    </option>
                    <option value="Je ne suis pas client(e) et souhaite des
                        informations">
                        <font style="vertical-align: inherit;">
                            <font style="vertical-align: inherit;">Je ne suis
                                pas client(e) et souhaite des informations
                            </font>
                        </font>
                    </option>
                    <option value="Je dépose ma candidature">
                        <font style="vertical-align: inherit;">
                            <font style="vertical-align: inherit;">Je dépose ma
                                candidature</font>
                        </font>
                    </option>
                    <option value="Je souhaite devenir partenaire">
                        <font style="vertical-align: inherit;">
                            <font style="vertical-align: inherit;">Je souhaite
                                devenir partenaire</font>
                        </font>
                    </option>
                    <option value="Autre">
                        <font style="vertical-align: inherit;">
                            <font style="vertical-align: inherit;">Autre</font>
                        </font>
                    </option>
                </select>
            </div>
            <!-- Subject -->
            <div class="md-form">
                <input type="text" name="sujet" id="materialContactSubject"
                    class="form-control" value="{{data.donnee.sujet}}">
                <label for="materialContactFormSubject">Sujet (requis)
                </label>
            </div>

            <!--Message-->
            <div class="md-form">
                <textarea id="materialContactFormMessage" name="message"
                    class="form-control
                    md-textarea" rows="3"></textarea>
                <label for="materialContactFormMessage">Message (requis)</label>
            </div>

            <!-- POSTs back to the page's URL upon submit with a g-recaptcha-response POST parameter. -->
            <div id="contact"></div>

            <!-- Send button -->
            <button class="btn btn-red btn-rounded btn-block z-depth-0 my-4
                waves-effect" name="submit" type="submit">Envoyer
                ma demande</button>

        </form>
        <!-- Form -->

    </div>

</div>
<!-- Material form contact -->
{% endblock %}