{% extends 'Frontend/layout.html.twig' %}
{#--------------------------BLOC-ITLE-----------------------------#}
{% block head %}
<title>Contactez-nous</title>
{% endblock %}
{#-------------------------END-BLOC-ITLE-----------------------------#}
{#--------------------------BLOC-ITLE-PAGE----------------------------#}
{% block title %}Contactez-nous{% endblock %}
{#-------------------------END-BLOC-ITLE-PAGE----------------------------#}
{% block content %}
{#--------------------------CONDITION-DATA----------------------------#}
{% if data.listeMessage.send %}
{#--------------------------SUCCES-MESSAGE----------------------------#}
{% for success in data.listeMessage %}
<div class="alert alert-primary" role="alert">
    {{success}}
</div>
{% endfor %}
{#-------------------------END-CONDITION-DATA----------------------------#}
{#-------------------------END-SUCCES-MESSAGE----------------------------#}
{% endif %}
{#--------------------------CONDITION-DATA----------------------------#}
{% if data.listeMessage.tab %}
{#--------------------------ERROR-MESSAGE----------------------------#}
{% for errors in data.listeMessage.tab %}
<div class="alert alert-danger" role="alert">
    {{errors}}
</div>
{% endfor %}
{#--------------------------ERROR-MESSAGE----------------------------#}
{% endif %}
{#--------------------------END-CONDITION-DATA----------------------------#}
{#--------------------------CARD---------------------------#}
<div class="card">
    {#--------------------------CARD-CONTENT----------------------------#}
    <div class="card-body px-lg-5 pt-0">
        <form class="text-center" style="color: #757575;" action="?p=contact"
            method="POST">
            <div class="form-row">
                <div class="col">
                    {#--------------------------NAME----------------------------#}
                    <div class="md-form">
                        <input type="text" name="nameLastname"
                            id="materialContactFormName" class="form-control"
                            value="{{data.donnee.namelastname}}">
                        <label for="materialContactFormName">Nom et prénom
                            (requis)</label>
                    </div>
                    {#-------------------------END-NAME----------------------------#}
                </div>
                <div class="col">
                    {#--------------------------EMAIL----------------------------#}
                    <div class="md-form">
                        <input type="email" name="mail"
                            id="materialContactFormEmail" class="form-control"
                            value="{{data.donnee.mail}}">
                        <label for="materialContactFormEmail">E-mail (requis)</label>
                    </div>
                    {#-------------------------END-EMAIL----------------------------#}
                </div>
            </div>
            <div class="form-row">
                <div class="col">
                    {#--------------------------PHONE-NUMBER----------------------------#}
                    <div class="md-form">
                        <input type="tel" name="telephone"
                            id="materialRegisterFormPhone" class="form-control"
                            aria-describedby="materialRegisterFormPhoneHelpBlock"
                            value="{{data.donnee.tel}}">
                        <label for="materialRegisterFormPhone">Téléphone
                            (requis)</label>
                    </div>
                    {#-------------------------END-PHONE-NUMBER----------------------------#}
                </div>
                <div class="col">
                    {#--------------------------CP---------------------------#}
                    <div class="md-form">
                        <input type="text" name="codepostal"
                            id="materialContactCP" class="form-control"
                            value="{{data.donnee.cp}}">
                        <label for="materialContactFormCP">Code postal (requis)</label>
                    </div>
                    {#-------------------------END-CP---------------------------#}
                </div>
            </div>
            {#--------------------------LISTE-OPTION---------------------------#}
            <div class="md-form">
                <select class="browser-default custom-select mb-4" name="liste"
                    id="select">
                    <option value="Je suis déjà client(e)" selected>
                        <font style="vertical-align: inherit;">
                            <font style="vertical-align: inherit;">Je suis déjà
                                client(e)</font>
                        </font>
                    </option>
                    <option value="Je ne suis pas client(e) et souhaite un
                        rendez-vous">
                        <font style="vertical-align: inherit;">
                            <font style="vertical-align: inherit;">Je ne suis
                                pas client(e) et souhaite un rendez-vous
                            </font>
                        </font>
                    </option>
                    <option value="Je ne suis pas client(e) et souhaite des
                        informations">
                        <font style="vertical-align: inherit;">
                            <font style="vertical-align: inherit;">Je ne suis
                                pas client(e) et souhaite des informations
                            </font>
                        </font>
                    </option>
                    <option value="Je dépose ma candidature">
                        <font style="vertical-align: inherit;">
                            <font style="vertical-align: inherit;">Je dépose ma
                                candidature</font>
                        </font>
                    </option>
                    <option value="Je souhaite devenir partenaire">
                        <font style="vertical-align: inherit;">
                            <font style="vertical-align: inherit;">Je souhaite
                                devenir partenaire</font>
                        </font>
                    </option>
                    <option value="Autre">
                        <font style="vertical-align: inherit;">
                            <font style="vertical-align: inherit;">Autre</font>
                        </font>
                    </option>
                </select>
            </div>
            {#-------------------------END-LISTE-OPTION---------------------------#}
            {#-------------------------SUBJECT---------------------------#}
            <div class="md-form">
                <input type="text" name="sujet" id="materialContactSubject"
                    class="form-control" value="{{data.donnee.sujet}}">
                <label for="materialContactFormSubject">Sujet (requis)
                </label>
            </div>
            {#-------------------------END-SUBJECT---------------------------#}
            {#-------------------------MESSAGE---------------------------#}
            <div class="md-form">
                <textarea id="materialContactFormMessage" name="message"
                    class="form-control
                    md-textarea" rows="3"></textarea>
                <label for="materialContactFormMessage">Message (requis)</label>
            </div>
            {#-------------------------END-MESSAGE---------------------------#}
            <div id="contact"></div>
            {#-------------------------SUBMIT---------------------------#}
            <button class="btn btn-red btn-rounded btn-block z-depth-0 my-4
                waves-effect" name="submit" type="submit">Envoyer
                ma demande</button>
        </form>
    </div>
    {#-------------------------END-CARD-CONTENT----------------------------#}
</div>
{#-------------------------END-CARD----------------------------#}
{% endblock %}