{% extends 'Frontend/layout.html.twig' %}
{% block head %} <title> Accueil </title> {% endblock %}
{% block title %}
Performance selon les profils de risque:
{% endblock %}

{% block content %}

<!-- Grid row -->
<div class="row">
    <!-- Grid column -->
    {% for graph in data.graph %}
    <div class="col-lg-6 col-md-8 col-sm-12 mb-4" data-toggle="modal"
        data-target="#graph{{graph.id}}">
        <div class="card">
            <!-- Card -->
            <!-- Card image -->
            <div class="view overlay">
                <img class="card-img-top" src="img/{{graph.image}}" alt="Card
                    image cap">
                <div class="mask rgba-white-slight"></div>
            </div>
            <!-- Card content -->
            <div class="card-body">
                <!-- Title -->
                {% autoescape %}
                <h4 class="card-subtitle text-left">{{
                    graph.title|raw|convert_encoding("utf-8", "ISO-8859-1") }}</h4>
                {% endautoescape %}
                <!-- Text -->
                {% autoescape %}
                <p class="card-text font-weight-bold text-justify">
                    {{graph.description|raw|convert_encoding("utf-8",
                    "ISO-8859-1")}}</p>
                {% endautoescape %}

            </div>
        </div>
        <!-- Card -->
    </div>
    <!-- Grid column -->
    {% endfor %}
    <!-- Grid row -->
</div>

{% for graph in data.graph %}

<!-- Modal -->
<div class="modal fade" id="graph{{graph.id}}" tabindex="-1" role="dialog"
    aria-labelledby="modaleLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modaleLabel">{{graph.title|raw|convert_encoding("utf-8",
                    "ISO-8859-1")}}</h5>
                <button type="button" class="close" data-dismiss="modal"
                    aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <img class="card-img-top" src="img/{{graph.image}}" alt="Card
                    image cap">
                <p class="card-text font-weight-bold text-justify">
                    {{graph.description|raw|convert_encoding("utf-8",
                    "ISO-8859-1")}}</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary"
                    data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>
{% endfor %}
{% endblock %}