{% extends 'Frontend/layout.html.twig' %}
{#--------------------------BLOC-TITLE-----------------------------#}
{% block head %}
{% for pages in data.page %}
<title>
    {{pages.titlePage|raw|convert_encoding("utf-8","ISO-8859-1")}}
</title>
{% endfor %}
{% endblock %}
{#-------------------------END-BLOC-TITLE-----------------------------#}
{#--------------------------BLOC-TITLE-PAGE----------------------------#}
{% block title %}
{% for pages in data.page %}
{{pages.titlePage|raw|convert_encoding("utf-8","ISO-8859-1")}}
{% endfor %}
{% endblock %}
{#-------------------------END-BLOC-TITLE-PAGE----------------------------#}
{% block content %}
{#--------------------------GRILLE-COLONNE-----------------------------#}
<div class="col-md-12">
    {#--------------------------CARD-----------------------------#}
    <div class="card hoverable pb-5 mx-md-3">
        {#--------------------------CARD-IMAGE-----------------------------#}
        {% for pages in data.page %}
        <img class="jarallax-img"
            src="img/page/{{pages.image}}" alt="">
        {% endfor %}
        {#-------------------------END-CARD-IMAGE-----------------------------#}
        {#--------------------------CARD-BODy-----------------------------#}
        <div class="card-body">
            <div class="container">
                {% for pages in data.page %}
                {#--------------------------CARD-BODY-TITLE-----------------------------#}
                <h1 class="text-left h1 pt-4 mb-3">
                    <strong>{{pages.title}}</strong>
                </h1>
                {#-------------------------END-CARD-BODY-TITLE-----------------------------#}
                {#-------------------------COLONNE-GRILLE----------------------------#}
                <div class="row mt-3">
                    {#-------------------------DESCRITPION----------------------------#}
                    <p class="dark-grey-text article">{{pages.description}}</p>
                    {#------------------------END-DESCRITPION----------------------------#}
                </div>
                {#-------------------------END-COLONNE-GRILLE----------------------------#}
                {% endfor %}
            </div>
        </div>
    </div>
    {#-------------------------END-CARD----------------------------#}
</div>
{#-------------------------END-GRILLE-COLONNE----------------------------#}
{% endblock %}